/* PLEASE NOTE: THESE TAILWIND IMPORTS SHOULD NEVER BE DELETED */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@keyframes highlight {
  0% { box-shadow: 0 0 0 0 rgba(244, 63, 94, 0.5); }
  50% { box-shadow: 0 0 0 10px rgba(244, 63, 94, 0.5); }
  100% { box-shadow: 0 0 0 0 rgba(244, 63, 94, 0); }
}
.highlight {
  animation: highlight 1.5s ease-in-out;
}
/* DO NOT DELETE THESE TAILWIND IMPORTS, OTHERWISE THE STYLING WILL NOT RENDER AT ALL */